<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" routerLink="/signup" routerDirection="back"></ion-icon>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-spinner color="primary" *ngIf="loadData"></ion-spinner>

  <form [formGroup]="loginForm" (ngSubmit)="login()">

    <ion-item>
      <ion-label>Email</ion-label>
      <ion-input type="text" formControlName="email" placeholder="Enter your Email"></ion-input>
      <ion-note slot="error" *ngIf="loginForm.get('email')?.hasError('required') && loginForm.get('email')?.touched"
        color="danger">
        Email is required.
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>Password</ion-label>
      <ion-input [type]="showPassword ? 'text' : 'password'" formControlName="password"
        placeholder="Enter Password"></ion-input>
      <ion-icon slot="end" [name]="showPassword ? 'eye-outline' : 'eye-off-outline'" (click)="changeType()"></ion-icon>

      <ion-note slot="error"
        *ngIf="loginForm.get('password')?.hasError('required') && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)"
        color="danger">
      </ion-note>
    </ion-item>

    <ion-item lines="none">
      <ion-checkbox formControlName="rememberMe" slot="start"></ion-checkbox>
      <ion-label>RememberMe</ion-label>
    </ion-item>

    <ion-button expand="block" class="main-button" type="submit" [disabled]="loginForm.invalid">Log in</ion-button>

  </form>
  <div>
    Don't have an account?
    <a color="tertiary" routerLink="/signup" routerDirection="forward">Signup</a>
  </div>

</ion-content>